@import '~antd/dist/antd.css';
body{    background: #f0f2f5;
}
div#root, .project-wrap{height:100%}
.logo {
    padding: 21px 0 22px 0;
    background: #f0f2f5;
    vertical-align: top;
    text-align: center;
    font-weight: 700;
}

.ant-layout .ant-menu .ant-menu-item {
    margin-top: 0;
}

.people-list-wrap .people-list .ant-list{
    width: 100%;
}
.people-list-wrap .people-list .ant-list .ant-list-items{
    display: flex;
    flex-wrap: wrap;
}
.people-list-wrap .people-list .ant-list .ant-list-items .ant-list-item {
width: 33.33%;
box-shadow: 0 0px 1px rgba(0,0,0,0.3);
}

.people-list-wrap .people-list .ant-card{
    margin: 16px 20px 0 0;
}

.people-list-wrap .people-list .ant-list-item a{
    width: 100%;
}

.people-list-wrap .people-list .ant-list-item a .characters{
    display: flex;
    flex-wrap: wrap;
}

.people-list-wrap .people-list .ant-list-item a .characters h5{
    width : 100%;
}

.people-list-wrap .people-list .ant-list-item a .characters a{
    width: auto;
    padding: 0 2px;
}

/* reponsive start */

@media(max-width:767px){
    .signup-wrap{
        margin: 50px;
    }
    .people-list-wrap .people-list .ant-list .ant-list-items .ant-list-item {
        width: 100%;
        }   
}